.subscribe {
  margin-left: 94px;
  margin-top: 12px;
}
.subscribe-title {
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.42px;
}
.subscribe-input {
  width: 358px;
  height: 50px;
  background-color: transparent;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.48px;
  border-radius: 4px;
  border: 1px rgba(255, 255, 255, 0.3) solid;
  outline: none;
  padding-left: 16px;
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.subscribe-btn {
  width: 200px;
  height: 50px;
  padding-left: 28px;
  padding-right: 62px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  text-align: center;
  color: white;
  font-size: 16px;
  font-weight: 700;
  line-height: calc(30 / 16);
  letter-spacing: 0.96px;
  border: none;
  margin-left: 12px;
  cursor: pointer;
  position: relative;
}
.subscribe-icon {
  position: absolute;
  right: 28px;
  top: 12px;
}
